@define-color background #292b2e;
@define-color box-background #1976d2;
@define-color box-selected-background #0d47a1;
@define-color foreground #fafafa;
@define-color urgent #900000;

* {
    border: none;
    border-radius: 3px;
    min-height: 0;
    margin: 0.2em 0.3em;
    padding: 0;

    color: @foreground;
}


window#waybar {
    background: @background;
    color: @foreground;

    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: 800;  /* Extra Bold */
}

#workspaces button,
#scratchpad,
#mode,
#clock,
#language,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#tray {
    padding: 0 0.6em;

    background: @box-background;
}

#workspaces {
    border-radius: 0;
    margin: 0;
}

#workspaces button.visible {
    background: @box-selected-background
}

#workspaces button.urgent,
#mode,
#cpu.critical,
#memory.critical,
#disk.critical,
#pulseaudio.muted {
    background: @urgent
}

